In [31]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import sklearn

In [4]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'

In [5]:
url

'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'

In [6]:
names = ['Class','id','Sequence']

In [7]:
data = pd.read_csv(url,names= names)

In [8]:
data[0:9]

  Class         id                                           Sequence
0     +        S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +       AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +       AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +      DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +  LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...
5     +     MALEFG  \taggggcaaggaggatggaaagaggttgccgtataaagaaactag...
6     +       MALK  \t\tcagggggtggaggatttaagccatctcctgatgacgcatagt...
7     +       RECA  \t\ttttctacaaaacacttgatactgtatgagcatacagtataat...
8     +       RPOB  \t\tcgacttaatatactgcgacaggacgtccgttctgtgtaaatc...

In [11]:
classes = data.loc[:,'Class']

In [12]:
print(classes[0:9])

0    +
1    +
2    +
3    +
4    +
5    +
6    +
7    +
8    +
Name: Class, dtype: object

In [13]:
Sequences = list(data.loc[:,'Sequence'])

In [14]:
#Generated list of sequences
Sequences[0:2]

['\t\ttactagcaatacgcttgcgttcggtggttaagtatgtataatgcgcgggcttgtcgt',
 '\t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaatctaacgcatcgccaa']

In [15]:
# Dictionary 
dataset ={}
# Loop through the sequences and split into individual nucleotides
for i,seq in enumerate(Sequences):
    
    #split into nucleotides, remove tab charecters
    neucleotides = list(seq)
    neucleotides= [x for x  in neucleotides if x!='\t']
    neucleotides.append(classes[i])
    dataset[i] = neucleotides
print(dataset[0])

['t', 'a', 'c', 't', 'a', 'g', 'c', 'a', 'a', 't', 'a', 'c', 'g', 'c', 't', 't', 'g', 'c', 'g', 't', 't', 'c', 'g', 'g', 't', 'g', 'g', 't', 't', 'a', 'a', 'g', 't', 'a', 't', 'g', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'g', 'g', 'g', 'c', 't', 't', 'g', 't', 'c', 'g', 't', '+']

In [18]:
# COnvert back to dataframe
dframe = pd.DataFrame(dataset)
print (dframe[0:2])

  0   1   2   3   4   5   6   7   8   9   ... 96  97  98  99  100 101 102 103  \
0   t   t   g   a   t   a   c   t   c   t ...   c   c   t   a   g   c   g   c
1   a   g   t   a   c   g   a   t   g   t ...   c   g   a   g   a   c   t   g

  104 105
0   c   t
1   t   a

[2 rows x 106 columns]

In [19]:
df = dframe.transpose()

In [20]:
df[0:2]

  0  1  2  3  4  5  6  7  8  9  ... 48 49 50 51 52 53 54 55 56 57
0  t  a  c  t  a  g  c  a  a  t ...  g  c  t  t  g  t  c  g  t  +
1  t  g  c  t  a  t  c  c  t  g ...  c  a  t  c  g  c  c  a  a  +

[2 rows x 58 columns]

In [22]:
df.rename(columns= {57:'Class'},inplace = True)

In [23]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,Class
count,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,106,106
unique,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,2
top,t,a,a,c,a,a,a,a,a,a,...,c,c,c,t,t,c,c,t,t,-
freq,38,34,30,30,36,42,38,34,33,36,...,36,42,31,33,35,32,29,29,34,53

In [24]:
series =[]
for name in df.columns:
    series.append(df[name].value_counts())
info =pd.DataFrame(series) 
details = info.transpose()
#Acheieved different value counts for each of those nucleaotide positions
print(details)

      0     1     2     3     4     5     6     7     8     9  ...      48  \
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
a  26.0  34.0  30.0  22.0  36.0  42.0  38.0  34.0  33.0  36.0  ...    23.0
c  27.0  22.0  21.0  30.0  19.0  18.0  21.0  20.0  22.0  22.0  ...    36.0
g  15.0  24.0  28.0  28.0  29.0  22.0  17.0  20.0  19.0  20.0  ...    26.0
t  38.0  26.0  27.0  26.0  22.0  24.0  30.0  32.0  32.0  28.0  ...    21.0

     49    50    51    52    53    54    55    56  Class
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0
a  24.0  28.0  27.0  25.0  22.0  26.0  24.0  27.0    NaN
c  42.0  31.0  32.0  21.0  32.0  29.0  29.0  17.0    NaN
g  18.0  24.0  14.0  25.0  22.0  28.0  24.0  28.0    NaN
t  22.0  23.0  33.0  35.0  30.0  23.0  29.0  34.0    NaN

[6 rows x 58 columns]

In [25]:
numerical_df = pd.get_dummies(df)

In [26]:
numerical_df[0:9]

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class_+,Class_-
0,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
1,0,0,0,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
5,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
6,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
7,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
8,0,1,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,1,1,0

In [29]:
df = numerical_df.drop(columns= ['Class_-'])
df.rename(columns ={'Class_+' : 'Class'},inplace = True)

In [30]:
df[0:5]

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class
0,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

In [35]:
# Import ML algorithms
# Clustering Approach
from sklearn.neighbors import KNeighborsClassifier
#Neural Network Approach
from sklearn.neural_network import MLPClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn import model_selection

In [47]:
# Create X and Y datasets for training
X = np.array(df.drop(['Class'],1))
Y = np.array(df['Class'])

# Define a seed for reproducibility
seed =1
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,test_size=0.25,random_state=seed)

In [48]:
#Define Scoring Method
scoring = 'accuracy'
#Define Models to train
names =["K Nearest Neighbours","Gaussian Process", "Decision Tree","Random Forest","neural network", "Ada Boost","naive_bayes",
       "SVM Linear","SVM RBF","SVM Sigmoid"]
Classifier = [KNeighborsClassifier(n_neighbors=3),
              GaussianProcessClassifier(1.0 * RBF(1.0)),
              DecisionTreeClassifier(max_depth=5),
              RandomForestClassifier(max_depth=5,n_estimators=10,max_features=1),
              MLPClassifier(alpha=1),
              AdaBoostClassifier(),
              GaussianNB(),
              SVC(kernel='linear'),
              #for non-linear relationship
              SVC(kernel = 'rbf'),
              # for binary classification
              SVC(kernel = 'sigmoid')
             ]
models = zip(names,Classifier)

In [49]:
# Evaluate each model 
results = []
names = []

for name,model in models:
    kfold = model_selection.KFold(n_splits=10,random_state=seed)
    cv_results = model_selection.cross_val_score(model,X_train,Y_train,cv=kfold,scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "{0}:{1}:({2})".format(name,cv_results.mean(),cv_results.std())
    print(msg)

K Nearest Neighbours:0.823214285714:(0.113908417384)
Gaussian Process:0.873214285714:(0.0561578042626)
Decision Tree:0.7625:(0.219729947891)
Random Forest:0.573214285714:(0.175591202536)

/Users/neel/anaconda2/lib/python2.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

neural network:0.8875:(0.0875)
Ada Boost:0.9125:(0.1125)
naive_bayes:0.8375:(0.1375)
SVM Linear:0.85:(0.108972473589)
SVM RBF:0.7375:(0.117924764151)
SVM Sigmoid:0.569642857143:(0.159209222505)

In [50]:
for name,model in models:
    model.fit(X_train,Y_train)
    predictions=  model.predict(X_test)
    print(name)
    print(accuracy_score(Y_test,predictions))
    print(classification_report(Y_test,predictions))

K Nearest Neighbours
0.7777777777777778
             precision    recall  f1-score   support

          0       1.00      0.65      0.79        17
          1       0.62      1.00      0.77        10

avg / total       0.86      0.78      0.78        27

Gaussian Process
0.8888888888888888
             precision    recall  f1-score   support

          0       1.00      0.82      0.90        17
          1       0.77      1.00      0.87        10

avg / total       0.91      0.89      0.89        27

Decision Tree
0.7777777777777778
             precision    recall  f1-score   support

          0       1.00      0.65      0.79        17
          1       0.62      1.00      0.77        10

avg / total       0.86      0.78      0.78        27

Random Forest
0.7407407407407407
             precision    recall  f1-score   support

          0       1.00      0.59      0.74        17
          1       0.59      1.00      0.74        10

avg / total       0.85      0.74      0.74        27

neural network
0.8888888888888888
             precision    recall  f1-score   support

          0       1.00      0.82      0.90        17
          1       0.77      1.00      0.87        10

avg / total       0.91      0.89      0.89        27

Ada Boost
0.8518518518518519
             precision    recall  f1-score   support

          0       1.00      0.76      0.87        17
          1       0.71      1.00      0.83        10

avg / total       0.89      0.85      0.85        27

naive_bayes
0.9259259259259259
             precision    recall  f1-score   support

          0       1.00      0.88      0.94        17
          1       0.83      1.00      0.91        10

avg / total       0.94      0.93      0.93        27

SVM Linear
0.9629629629629629
             precision    recall  f1-score   support

          0       1.00      0.94      0.97        17
          1       0.91      1.00      0.95        10

avg / total       0.97      0.96      0.96        27

SVM RBF
0.7777777777777778
             precision    recall  f1-score   support

          0       1.00      0.65      0.79        17
          1       0.62      1.00      0.77        10

avg / total       0.86      0.78      0.78        27

SVM Sigmoid
0.4444444444444444
             precision    recall  f1-score   support

          0       1.00      0.12      0.21        17
          1       0.40      1.00      0.57        10

avg / total       0.78      0.44      0.34        27